.container {
    max-width: var(--container);
    margin: 0 auto;
    padding: 0 40px;
}

main {
    padding-top: var(--navbar-h);
    min-height: 100vh;
}

@media (max-width: 768px) {
    .container {
        padding: 0 16px;
    }
}